In [8]:
import yfinance as yf
import pandas as pd

stockDF = yf.download("AAPL", start = '2020-01-01', end = '2021-01-01')
print(stockDF.shape)
stockDF.head()

[*********************100%%**********************]  1 of 1 completed
(253, 6)

/opt/homebrew/Caskroom/miniconda/base/lib/python3.11/site-packages/yfinance/utils.py:788: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  73.059433  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.349144  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  72.925629  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.582657  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  73.750244  132079200

In [9]:
import numpy as np
from oandapyV20 import API
#API processes requests that can be created fro the endpoints
from oandapyV20.endpoints.instruments import InstrumentsCandles

access_token = "fc55828bad637666f39996dd32b6d527-e32e012b7ea4947bd3a6a62a2de6c049"
account_id = "101-003-28582948-001"

accountID = account_id
access_token = access_token

# Initialize the Oanda API client
api = API(access_token=access_token, environment="practice")

# Define the parameters for the candlestick data request
params = {
    'count': 26,
    'granularity': 'H1',
    'price': 'M',  # Midpoint candlestick prices
}

# Request the candlestick data from Oanda API
candles_request = InstrumentsCandles(instrument="EUR_USD", params=params)
response = api.request(candles_request)

response

{'instrument': 'EUR_USD',
 'granularity': 'H1',
 'candles': [{'complete': True,
   'volume': 1778,
   'time': '2024-04-05T10:00:00.000000000Z',
   'mid': {'o': '1.08389', 'h': '1.08393', 'l': '1.08326', 'c': '1.08345'}},
  {'complete': True,
   'volume': 1876,
   'time': '2024-04-05T11:00:00.000000000Z',
   'mid': {'o': '1.08346', 'h': '1.08419', 'l': '1.08306', 'c': '1.08350'}},
  {'complete': True,
   'volume': 10012,
   'time': '2024-04-05T12:00:00.000000000Z',
   'mid': {'o': '1.08352', 'h': '1.08479', 'l': '1.08002', 'c': '1.08094'}},
  {'complete': True,
   'volume': 8107,
   'time': '2024-04-05T13:00:00.000000000Z',
   'mid': {'o': '1.08096', 'h': '1.08139', 'l': '1.07914', 'c': '1.08011'}},
  {'complete': True,
   'volume': 6207,
   'time': '2024-04-05T14:00:00.000000000Z',
   'mid': {'o': '1.08013', 'h': '1.08264', 'l': '1.07970', 'c': '1.08187'}},
  {'complete': True,
   'volume': 4743,
   'time': '2024-04-05T15:00:00.000000000Z',
   'mid': {'o': '1.08185', 'h': '1.08434', 'l': '1.08162', 'c': '1.08402'}},
  {'complete': True,
   'volume': 2939,
   'time': '2024-04-05T16:00:00.000000000Z',
   'mid': {'o': '1.08404', 'h': '1.08445', 'l': '1.08332', 'c': '1.08358'}},
  {'complete': True,
   'volume': 2285,
   'time': '2024-04-05T17:00:00.000000000Z',
   'mid': {'o': '1.08359', 'h': '1.08390', 'l': '1.08316', 'c': '1.08328'}},
  {'complete': True,
   'volume': 2853,
   'time': '2024-04-05T18:00:00.000000000Z',
   'mid': {'o': '1.08329', 'h': '1.08380', 'l': '1.08307', 'c': '1.08349'}},
  {'complete': True,
   'volume': 2195,
   'time': '2024-04-05T19:00:00.000000000Z',
   'mid': {'o': '1.08348', 'h': '1.08370', 'l': '1.08320', 'c': '1.08356'}},
  {'complete': True,
   'volume': 1337,
   'time': '2024-04-05T20:00:00.000000000Z',
   'mid': {'o': '1.08352', 'h': '1.08377', 'l': '1.08338', 'c': '1.08376'}},
  {'complete': True,
   'volume': 744,
   'time': '2024-04-07T21:00:00.000000000Z',
   'mid': {'o': '1.08383', 'h': '1.08386', 'l': '1.08369', 'c': '1.08380'}},
  {'complete': True,
   'volume': 874,
   'time': '2024-04-07T22:00:00.000000000Z',
   'mid': {'o': '1.08380', 'h': '1.08382', 'l': '1.08274', 'c': '1.08282'}},
  {'complete': True,
   'volume': 1071,
   'time': '2024-04-07T23:00:00.000000000Z',
   'mid': {'o': '1.08282', 'h': '1.08331', 'l': '1.08279', 'c': '1.08298'}},
  {'complete': True,
   'volume': 2566,
   'time': '2024-04-08T00:00:00.000000000Z',
   'mid': {'o': '1.08298', 'h': '1.08302', 'l': '1.08231', 'c': '1.08270'}},
  {'complete': True,
   'volume': 3112,
   'time': '2024-04-08T01:00:00.000000000Z',
   'mid': {'o': '1.08270', 'h': '1.08366', 'l': '1.08268', 'c': '1.08356'}},
  {'complete': True,
   'volume': 2204,
   'time': '2024-04-08T02:00:00.000000000Z',
   'mid': {'o': '1.08357', 'h': '1.08434', 'l': '1.08350', 'c': '1.08407'}},
  {'complete': True,
   'volume': 1614,
   'time': '2024-04-08T03:00:00.000000000Z',
   'mid': {'o': '1.08406', 'h': '1.08418', 'l': '1.08322', 'c': '1.08334'}},
  {'complete': True,
   'volume': 1113,
   'time': '2024-04-08T04:00:00.000000000Z',
   'mid': {'o': '1.08335', 'h': '1.08356', 'l': '1.08312', 'c': '1.08322'}},
  {'complete': True,
   'volume': 1915,
   'time': '2024-04-08T05:00:00.000000000Z',
   'mid': {'o': '1.08324', 'h': '1.08374', 'l': '1.08322', 'c': '1.08346'}},
  {'complete': True,
   'volume': 3045,
   'time': '2024-04-08T06:00:00.000000000Z',
   'mid': {'o': '1.08347', 'h': '1.08377', 'l': '1.08297', 'c': '1.08341'}},
  {'complete': True,
   'volume': 3526,
   'time': '2024-04-08T07:00:00.000000000Z',
   'mid': {'o': '1.08342', 'h': '1.08379', 'l': '1.08284', 'c': '1.08322'}},
  {'complete': True,
   'volume': 3895,
   'time': '2024-04-08T08:00:00.000000000Z',
   'mid': {'o': '1.08323', 'h': '1.08354', 'l': '1.08222', 'c': '1.08236'}},
  {'complete': True,
   'volume': 2769,
   'time': '2024-04-08T09:00:00.000000000Z',
   'mid': {'o': '1.08236', 'h': '1.08300', 'l': '1.08209', 'c': '1.08281'}},
  {'complete': True,
   'volume': 2025,
   'time': '2024-04-08T10:00:00.000000000Z',
   'mid': {'o': '1.08278', 'h': '1.08342', 'l': '1.08260', 'c': '1.08325'}},
  {'complete': False,
   'volume': 342,
   'time': '2024-04-08T11:00:00.000000000Z',
   'mid': {'o': '1.08322', 'h': '1.08332', 'l': '1.08294', 'c': '1.08302'}}]}

In [21]:
def to_yfinance(response):
    candles = []
    for candle in response['candles']:
        # Extract open (o), high (h), low (l), and close (c) prices from the 'mid' dictionary
        candles.append({'Date': candle['time'],
                        'Open': candle['mid']['o'],
                        'High': candle['mid']['h'],
                        'Low': candle['mid']['l'],
                        'Close': candle['mid']['c'],
                        'Volume': candle['volume']})
    
    # Create the DataFrame
    df = pd.DataFrame(candles)

    # Convert 'time' column to datetime format: '2024-01-01'
    df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%Y-%m-%d')
    df.set_index('Date', inplace=True)
    df = df.astype({'Open': np.float64, 'High': np.float64, 'Low': np.float64, 'Close': np.float64, 'Volume': np.int64})

    return df

res = to_yfinance(response)
res.head()

               Open     High      Low    Close  Volume
Date
2024-04-05  1.08389  1.08393  1.08326  1.08345    1778
2024-04-05  1.08346  1.08419  1.08306  1.08350    1876
2024-04-05  1.08352  1.08479  1.08002  1.08094   10012
2024-04-05  1.08096  1.08139  1.07914  1.08011    8107
2024-04-05  1.08013  1.08264  1.07970  1.08187    6207